
div.dataTables_filter {
  label {
    float: none;
  }
}

div.dataTables_length {
  label {
    float: right;
  }
}

table.dataTable {
  tbody {

    .fade-in {

      td {
        background: rgba(255, 151, 36, 0.20) !important;
        transition: background .25s ease-in-out;
      }

    }

    .fade-out {

      td {
        background: transparent !important;
        transition: background .25s ease-in-out;
      }

    }
  }

  thead {
    tr {
      th {
        padding-left: 8px;
      }
    }
  }
}

