<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:vf="http://typo3.org/ns/Fab/VidiFrontend/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<f:if condition="{settings.isVisualSearchBar}">
		<style>
			.dataTables_filter {
				visibility: hidden;
				height: 1px;
			}
		</style>
	</f:if>

	<vf:loadAssets/>

	<script>

		window.VidiFrontend = !window.VidiFrontend ? {} : window.VidiFrontend;

		// Initialize VidiFrontend if necessary.
		if (!VidiFrontend.settings) {
			VidiFrontend.parameterPrefix = 'tx_vidifrontend_pi1';
			VidiFrontend.settings = {};
			VidiFrontend.bars = {};
			VidiFrontend.grids = {};
			VidiFrontend.dataTable = {};
			VidiFrontend.dataTable['dom'] = "{vf:grid.configuration()}";
		}

		// Columns configuration
		var columns = [];
		{vf:grid.column.configuration()}

		// Labels
		var labels = {};
		{vf:grid.column.localization()}

		var gridIdentifier =  '{gridIdentifier}';
		VidiFrontend.settings[gridIdentifier] = {};
		VidiFrontend.settings[gridIdentifier]['contentElementIdentifier'] = parseInt('{contentElementIdentifier}');
		VidiFrontend.settings[gridIdentifier]['gridIdentifier'] = gridIdentifier;
		VidiFrontend.settings[gridIdentifier]['dataType'] = "{dataType}";
		VidiFrontend.settings[gridIdentifier]['columns'] = columns;
		VidiFrontend.settings[gridIdentifier]['language'] = labels;
		VidiFrontend.settings[gridIdentifier]['facets'] = {};
		VidiFrontend.settings[gridIdentifier]['search'] = {};
		VidiFrontend.settings[gridIdentifier]['search']['labels'] = {}; // Used by VidiFrontend.VisualSearch
		VidiFrontend.settings[gridIdentifier]['search']['values'] = {};
		VidiFrontend.settings[gridIdentifier]['lengthMenu'] = {vf:grid.lengthMenu()};
		VidiFrontend.settings[gridIdentifier]['suggestions'] = [];
		VidiFrontend.settings[gridIdentifier]['loadContentByAjax'] = parseInt('{settings.loadContentByAjax}');
		VidiFrontend.settings[gridIdentifier]['hasClickOnRow'] = {f:if(condition: "{vf:grid.hasClickOnRow()}", then: 'true', else: 'false')};
	</script>

	<f:if condition="{settings.isVisualSearchBar}">
		<script>
			VidiFrontend.settings[gridIdentifier]['facets'] = {vf:grid.facets() -> f:format.raw()};
			VidiFrontend.settings[gridIdentifier]['suggestions'] = {vf:grid.suggestions() -> f:format.raw()};
		</script>
	</f:if>
	<f:comment><!--Conditional style whether there is a detail view --></f:comment>
	<f:if condition="{vf:grid.hasClickOnRow()}">
		<style>
			#grid-{gridIdentifier} tbody tr td {
				cursor: pointer;
			}
		</style>
	</f:if>

	<table id="grid-{gridIdentifier}" class="{settings.gridClassName}" cellspacing="0" width="100%">
		<thead style="{f:if(condition: "{settings.hasColumnHeaders} == 0", then: 'display: none')}">
		<tr class="t3-row-header">
			<f:for each="{columns}" key="columnName" as="configuration">
				<th>
					<f:if condition="{vf:grid.column.header(name: '{columnName}')}">
						<f:then>
							<f:format.raw>{vf:grid.column.header(name: '{columnName}')}</f:format.raw>
						</f:then>
						<f:else>
							<vf:grid.column.title/>
						</f:else>
					</f:if>
				</th>
			</f:for>
		</tr>
		</thead>
		<tbody>
		<f:if condition="!{settings.loadContentByAjax}">
			<f:for each="{objects}" as="object" iteration="iterator">
				<f:format.raw>
					<vf:grid.row object="{object}" index="{iterator.index}"/>
				</f:format.raw>
			</f:for>
		</f:if>
		</tbody>
		<f:if condition="{settings.actions}">
			<tfoot>
			<tr>
				<th colspan="{numberOfColumns}">
					<div class="dropup">
						<a class="btn btn-default btn-sm dropdown-toggle mass-action-label-{gridIdentifier}"
						   data-toggle="dropdown"
						   href="#"
						   onclick="return false"
						   aria-haspopup="true"
						   aria-expanded="false">
							<f:translate key="grid.rows"/>
						</a>
						<ul class="dropdown-menu mass-action-items">
							{vf:render.massActions()}
						</ul>
					</div>
				</th>
			</tr>
			</tfoot>
		</f:if>
	</table>

</f:section>
</html>
