<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/TYPO3/CMS/Vidi/ViewHelpers"
      xmlns:vf="http://typo3.org/ns/Fab/VidiFrontend/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">
	<div>Search Bar</div>

	<script>
		var gridIdentifier = '{gridIdentifier}';
		var dataTableDom = "<'row'<'col-xs-6'f><'col-xs-6'l>r>" +
				"<'row'<'col-xs-12't>>" +
				"<'row'<'col-xs-6'i><'col-xs-6'p>>";


		var columns = [];
		{vf:grid.column.configuration()}

		<![CDATA[
		if (window.VidiFrontend === undefined) {
			window.VidiFrontend = {
				instances: [],
				dataTable: {
					dom: dataTableDom
				}
			};
		}

		var instance = {
			id: gridIdentifier,
			columns: columns
		};
		VidiFrontend.instances.push(instance);

		]]>
	</script>

	<table id="{gridIdentifier}" class="{settings.grid.className}" cellspacing="0" width="100%">
		<thead>
		<tr class="t3-row-header">
			<f:for each="{columns}" key="columnName" as="configuration">
				<th>
					<f:if condition="{vf:grid.column.header(name: '{columnName}')}">
						<f:then>
							<f:format.raw>{vf:grid.column.header(name: '{columnName}')}</f:format.raw>
						</f:then>
						<f:else>
							<vf:grid.column.title/>
						</f:else>
					</f:if>
				</th>
			</f:for>
		</tr>
		</thead>
		<tbody>
		<f:for each="{objects}" as="object">
			<tr>
				<f:for each="{columns}" key="columnName" as="configuration" iteration="{iterator}">
					<td class="cell-{columnName}">
						{vf:grid.row(object: '{object}')}
					</td>
				</f:for>
			</tr>
		</f:for>
		</tbody>
	</table>

</f:section>
</html>
